<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Rest Assured Tests" parallel="tests" thread-count="25" verbose="10" preserve-order="false">
    <test name="Rest Assured Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="api.test.GarageResultTest"/>
        </classes>
    </test>

</suite>
